<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.era.miqrosheet.domain.mapper.WbMapper">

    <select id="selectByGridKey" resultType="com.era.miqrosheet.domain.model.Wb">
        select *
        from wb
        where grid_key = #{gridKey}
    </select>
</mapper>